.super-mario {
  width: 200px;
  position: absolute
}

.goomba {
  width: 100px;
  margin-top: 300px;
  margin-left: 50px;
}

.baloon {
  position: absolute;
  top: 140px;
  left: 350px;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 180px;
  left: 370px;
  z-index: 1;
}

.bowser {
  width: 200px;
  margin-left: 500px;
  position: absolute;
  margin-top: 270px;
}