ol li {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

#h {
    color: red;
}

#h em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

#linguagens-de-programacao li:nth-of-type(1) {
    color: blue;
}

#linguagens-de-programacao li:nth-of-type(2) {
    color: blue;
}

#linguagens-de-programacao li:nth-of-type(3) {
    color: blue;
}

#linguagens-de-programacao #java {
    background-color: pink;
}

#linguagens-de-programacao #javascript {
    background-color: pink;
}
